@mixin row {
  display: flex;
  justify-content: start;
  align-items: center;
}

@mixin use {
  // 바닥글 레이아웃
  #footer {
    @include row;
    p {
      margin-left: 8px;
      font-size: 0.9em;
    }
  }

  // 아이콘 레이아웃
  #icons {
    @include row;
  }


  &.dark {
  }
  &.light {
  }

  #frame {
    display: flex;
  }
}
