@use "sass:math";

@function multiple-box-shadow($n,$spread,$color) {
  $value: '#{random(2000)}px #{random($spread)}px #{$color}';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random($spread)}px #{random($spread)}px #{$color}';
  }
  @return unquote($value);
}

@mixin use($n: 100,$spread: 2000,$size: 2,$speed: 1,$color: #FFF) {
  $stars: multiple-box-shadow($n,$spread,$color);

  @keyframes animate {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-#{$spread}px);
    }
  }

  animation: animate #{math.div(100,$speed)}s linear infinite;
  box-shadow: $stars;
  
  background: transparent;
  border-radius: #{$size}px;
  width: #{$size}px;
  height: #{$size}px;
  
  &:after {
    content: " ";
    position: absolute;
    border-radius: #{$size}px;
    top: #{$spread}px;
    width: #{$size}px;
    height: #{$size}px;
    background: transparent;
    box-shadow: $stars;
  }
}
