@function multiple-box-shadow($n,$spread) {
  $value: '#{random(2000)}px #{random($spread)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random($spread)}px #{random($spread)}px #FFF';
  }
  @return unquote($value);
}

@keyframes animate {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@mixin use($n: 100,$spread: 2000,$size: 2) {
  $stars: multiple-box-shadow($n,$spread);

  animation: animate 100s linear infinite;
  box-shadow: $stars;
  
  background: transparent;
  width: $size;
  height: $size;
  
  &:after {
    content: " ";
    position: absolute;
    top: #{$spread}px;
    width: $size;
    height: $size;
    background: transparent;
    box-shadow: $stars;
  }
}
